
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: .5em;
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

.element {
    width: 400px;
    height: 300px;
    float: left;
    position: relative;
    border: 1px solid black;
    box-shadow: 0 0 5px 5px gray;
    margin: 1em;
    background-color: transparent;
}

.element .front {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    z-index: 1;
}

.element .front img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.element .back {
    background: linear-gradient(to bottom right, red, orange);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
}

.element .back .back-content {
    padding: 1em;
    font-size: 1.3em;
}

/************* Element 1 *************/

.element1 .back .back-content {
    transform: scale(0);
    transition: all .5s ease;
}

.element1:hover .front {
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
}

.element1:hover img {
    border-radius: 50%;
    border: 4px solid #eee;
}

.element1 .back .description {
    padding: 3em;
}

.element1:hover .back-content {
    transform: scale(1);
}

/************* Element 2 *************/

.element2 .back::before {
    content: '';
    position: absolute;
    top: 200px;
    bottom: 200px;
    right: 50px;
    left: 50px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all .6s ease;
}

.element2 .back::after {
    content: '';
    position: absolute;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 50px;
    bottom: 50px;
    right: 300px;
    left: 300px;
    transition: all .6s ease;
}

.element2 .front {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;
    transition: all .4s ease;
}

.element2:hover .front {
    top: -150%;
    opacity: 0;
}

.element2:hover .back::before {
    top: 30px;
    bottom: 30px;
}

.element2:hover .back::after {
    right: 30px;
    left: 30px;
}

/************* Element 3 *************/

.element3 .curtain-container .curtain {
    position: absolute;
    width: calc(25%);
    height: 100%;
    left: 0;
    top: 0;
    background-color: #222;
    transition: all 0.5s ease;
    transform: scale(0, 1);
}

.element3 .back {
    z-index: 0;
}

.element3 .back .back-content {
    transform: scale(0);
    translate: all 0.5s ease;
}

.element3 .curtain-container .curtain:nth-child(2) {
    left: calc(25%);
}

.element3 .curtain-container .curtain:nth-child(3) {
    left: 50%;
}

.element3 .curtain-container .curtain:nth-child(4) {
    left: 75%;
}

.element3 .curtain-container .element3:hover .curtain {
    width: 0;
}

.element3:hover .front {
    opacity: 0;
}

.element3:hover .back{
    color: #fff;
}

.element:hover .back .back-content {
    transform: scale(1);
}

.element3:hover .curtain {
    transform: scale(1, 1);
}

/************* Element 4 *************/

.element4 .back::before {
    position: absolute;
    content: '';
    top: 200px;
    bottom: 200px;
    right: 30px;
    left: 30px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 0.5s ease;
}

.element4 .back::after {
    position: absolute;
    content: '';
    top: 30px;
    bottom: 30px;
    right: 200px;
    left: 200px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transition: all .5s ease;
}

.element4:hover .front {
    transform: rotate(360deg) scale(0);
    opacity: 0;
}

.element4:hover .back::before {
    top: 50px;
    bottom: 50px;
}

.element4:hover .back::after {
    right: 50px;
    left: 50px;
}

.element4 .back .back-content {
    transform: translateX(-30%);
    opacity: 0;
    transition: all .5s ease;
}

.element4:hover .back .back-content {
    transform: translateX(0);
    opacity: 1;
}

/************* Element 5 *************/

.element5 {
    overflow: hidden;
}

.element5 .front {
    transform: skewX(0deg);
    opacity: 1;
    left: 0;
    transition: transform 0.3s ease, left 0.4s ease 0.3s, opacity 0.4s ease 0.3s;
}

.element5:hover .front {
    transform: skewX(-20deg);
    left: -100%;
    opacity: 0;
}

.element5 .back-content {
    opacity: 0;
    transition: all 0.4s ease 0.5s;
}

.element5:hover .back-content {
    opacity: 1;
}

/************* Element 6 *************/

.element6 .front {
    transition: all .4s ease;
}

.element6:hover .front {
    transform: scale(0.35) translateY(80%);
    box-shadow: 0 0 20px 20px #222;
}

.element6 .back .back-content {
    opacity: 0;
    transition: all .9s ease;
}

.element6:hover .back-content {
    opacity: 1;
}

/************* Element 7 *************/

.element7 .front {
    opacity: 1;
    transition: all .6s ease;
}

.element7 .back {
    background: linear-gradient(to bottom right, green, yellow);
    border-radius: 0 40%;
}

.element7:hover, .element:hover .back{
    border-radius: 0 40%;
}

.element7:hover .front {
    opacity: 1;
    transform: translateX(-150%) rotateY(720deg);
}

.element7 .back .back-content .pname {
    opacity: 0;
    transform: translateY(-50%);
    transition: all .8s ease;
}

.element7 .back .back-content .description {
    opacity: 0;
    transform: translateY(50%);
    transition: all .8s ease;
}

.element7:hover .back .back-content .pname {
    opacity: 1;
    top: 0px;
    transform: translateY(0%);
}

.element7:hover .back .back-content .description {
    opacity: 1;
    bottom: 0px;
    transform: translateY(0%);
}   
