* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.button1, .button2 {
    background: linear-gradient(to bottom right, blue, red);
}

.button1, .button2, .button3, .button4 {
    padding: 2em;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    width: 50%;
    border-radius: 50px;
    border: none;
    position: relative;
    margin: 1em;
}

.button1::before {
    position: absolute;
    content: '';
    background: linear-gradient(to bottom right, blue, red);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    border-radius: 50px;
    z-index: -1;
    transition: all 0.5s ease;
}

.button1:hover::before {
    opacity: 0;
    transform: scale(1.4);
    z-index: 1;
}

.button2::after, .button2::before {
    position: absolute;
    content: 'V';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to bottom right, blue, red);
    transition: all 0.5s ease;
    opacity: 0;
}

.button2::before {
    top: -60px;
    left: -60px;

}

.button2::after {
    top: 120px;
    left: 360px;
}

@keyframes anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.button2:hover::after, .button2:hover::before {
    opacity: 1;
    animation: anim .3s linear infinite;
} 


.button3, .button4 {
    background-color: transparent;
    border: 2px solid #fff;
    overflow: hidden;
    z-index: 1;
}

.button3::before, .button4::before {
    position: absolute;
    content: '';
    background-color: orange;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    border-radius: 50px;
    transition: all .3s ease;
    z-index: -1;
}

.button4:hover {
    color: #333;
}

.button3:hover::before,
.button4:hover::before
{
    left: 0;
}

.button4::after {
    position: absolute;
    content: '';
    background-color: greenyellow;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    border-radius: 50px;
    transition: all .4s ease;
    z-index: -1;
}

@keyframes green-slide {
    0% {
        right: -100%;
    }

    100% {
        right: 0;
    }
}

.button4:hover::after {
    animation: green-slide .4s ease .4s;
    right: 0;
}