* {
    margin: 0;
    padding: 0;
}

.parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #222;
    color: #fff;
    overflow: hidden;
}

.loader {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0;
    border: 1px solid #fff;
}

/*********** Loader 1 ************/

.loader1 span {
    position: absolute;
    width: 100px;
    height: 100px;
    display: inline-block;
    /* animation: loader 2s ease infinite; */
}

@keyframes loader {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
        border-radius: 50%;
    }
}

.loader1 span:nth-child(1) {
    background-color: green;
    top: 0;
    left: 0;
}

.loader1 span:nth-child(2) {
    background-color: yellow;
    top: 0;
    right: 0;
}

.loader1 span:nth-child(3) {
    background-color: red;
    bottom: 0;
    left: 0;
}

.loader1 span:nth-child(4) {
    background-color: blue;
    right: 0;
    bottom: 0;
}

/*********** Loader 2 ************/

.loader2 span {
    display: inline-flex;
    width: 20px;
    margin-top: 2em;
    position: absolute;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    top: 0;
}

@keyframes bar-anim {
    0%, 50%, 100% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.6);
    }
}

.loader2 span:nth-child(1) {
    left: 0px;
    background-color: indigo;
    box-shadow: 0 0 7px indigo;
    /* animation: bar-anim 1s ease infinite; */
}

.loader2 span:nth-child(2) {
    left: 25px;
    background-color: violet;
    box-shadow: 0 0 7px violet;
    /* animation: bar-anim 1s ease infinite .1s; */
} 

.loader2 span:nth-child(3) {
    left: 50px;
    background-color: blue;
    box-shadow: 0 0 7px blue;
    /* animation: bar-anim 1s ease infinite .2s; */
} 

.loader2 span:nth-child(4) {
    left: 75px;
    background-color: green;
    box-shadow: 0 0 7px green;
    /* animation: bar-anim 1s ease infinite .3s; */
} 

.loader2 span:nth-child(5) {
    left: 100px;
    background-color: yellow;
    box-shadow: 0 0 7px yellow;
    /* animation: bar-anim 1s ease infinite .4s; */
}

.loader2 span:nth-child(6) {
    left: 125px;
    background-color: orange;
    box-shadow: 0 0 7px orange;
    /* animation: bar-anim 1s ease infinite .5s; */
} 

.loader2 span:nth-child(7) {
    left: 150px;
    background-color: red;
    box-shadow: 0 0 7px red;
    /* animation: bar-anim 1s ease infinite .6s; */
} 

.loader2 span:nth-child(8) {
    left: 175px;
    box-shadow: 0 0 7px white;
    /* animation: bar-anim 1s ease infinite .7s; */
} 

/*********** Loader 3 ************/

.loader3 .square::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid orange;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    /* animation: loader3before 2s ease infinite; */
}

.loader3 .square::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid green;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    /* animation: loader3after 2s ease infinite; */
}

@keyframes loader3 {
    0%, 50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader3before {
    0%, 50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader3after {
    0%, 50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/*********** Loader 4 ************/

.loader4 .square {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 10px solid #fff;
    border-top-color: green;
    border-left-color: green;
    /* animation: loader4 2s ease infinite; */
}

@keyframes loader4 {
    50% {
        transform: rotate(360deg);
        border-radius: 0;
        width: 0;
        height: 0;
        border-width: 100px;
    }
}

/*********** Loader 5 ************/

.clock {
    width: 180px;
    height: 180px;
    border: 10px solid yellow;
    border-radius: 50%;
    box-shadow: 0 0 10px yellow;
}

.clock::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 80px;
    background-color: #fff;
    top: 20px;
    left: calc(50% - 6px);
    box-shadow: 0 0 5px #fff;
    border-radius: 5px;
    transform-origin: bottom;
    /* animation: clock 2s ease infinite; */
}

@keyframes clock {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(400deg);
    }
    80% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*********** Loader 6 ************/

.loader6 div {
    position: absolute;
    border-top: 3px solid yellow;
    border-bottom: 3px solid #fff;
    border-left: 3px solid blue;
    border-right: 3px solid blue;
    border-radius: 50%;
    box-shadow: 0 0 8px 6px #35d;
}

.loader6 div:nth-child(1) {
    width: 180px;
    height: 180px;
    top: 10px;
    left: 10px;
    animation: loader6a 4s ease infinite 1s;
}

.loader6 div:nth-child(2) {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 150px;
    height: 150px;
    animation: loader6b 3s ease infinite;
}

.loader6 div:nth-child(3) {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 40px;
    top: 40px;
    animation: loader6c 2s ease infinite;
}

@keyframes loader6a {
    0% {
        transform: rotate(0deg);        
    }
    50% {
        transform: rotate(360deg);
    }
}

@keyframes loader6b {
    0% {
        transform: rotate(120deg);        
    }
    50% {
        transform: rotate(480deg);
    }
}

@keyframes loader6c {
    0% {
        transform: rotate(120deg);        
    }
    50% {
        transform: rotate(-240deg);
    }
}

/*********** Loader 7 ************/

.loader7 div::before {
    position: absolute;
    content: '';
    top: 4px;
    left: 3px;
    width: 97%;
    height: 97%;
    border-radius: 50%;
    box-shadow: 0 0 3px 5px #f8a;
    background-color: transparent;
    animation: loader7 2s ease infinite;
}

.loader7 div::after {
    position: absolute;
    content: '';
    top: 4px;
    left: 3px;
    width: 97%;
    height: 97%;
    border-radius: 50%;
    box-shadow: 0 0 3px 5px #d13;
    animation: loader7 2s linear infinite;
}

@keyframes loader7 {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}