* {
    margin: 0;
    padding: 0;
}

.parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #222;
    color: #fff;
    overflow: hidden;
}

.loader {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0;
    border: 1px solid #fff;
}

/*********** Loader 1 ************/

.loader1 span {
    position: absolute;
    width: 100px;
    height: 100px;
    display: inline-block;
    /* animation: loader 2s ease infinite; */
}

@keyframes loader {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
        border-radius: 50%;
    }
}

.loader1 span:nth-child(1) {
    background-color: green;
    top: 0;
    left: 0;
}

.loader1 span:nth-child(2) {
    background-color: yellow;
    top: 0;
    right: 0;
}

.loader1 span:nth-child(3) {
    background-color: red;
    bottom: 0;
    left: 0;
}

.loader1 span:nth-child(4) {
    background-color: blue;
    right: 0;
    bottom: 0;
}

/*********** Loader 2 ************/

.loader2 span {
    display: inline-flex;
    width: 20px;
    margin-top: 2em;
    position: absolute;
    height: 150px;
    background-color: #fff;
    border-radius: 20px;
    top: 0;
}

@keyframes bar-anim {
    0%, 50%, 100% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.6);
    }
}

.loader2 span:nth-child(1) {
    left: 0px;
    background-color: indigo;
    box-shadow: 0 0 7px indigo;
    /* animation: bar-anim 1s ease infinite; */
}

.loader2 span:nth-child(2) {
    left: 25px;
    background-color: violet;
    box-shadow: 0 0 7px violet;
    /* animation: bar-anim 1s ease infinite .1s; */
} 

.loader2 span:nth-child(3) {
    left: 50px;
    background-color: blue;
    box-shadow: 0 0 7px blue;
    /* animation: bar-anim 1s ease infinite .2s; */
} 

.loader2 span:nth-child(4) {
    left: 75px;
    background-color: green;
    box-shadow: 0 0 7px green;
    /* animation: bar-anim 1s ease infinite .3s; */
} 

.loader2 span:nth-child(5) {
    left: 100px;
    background-color: yellow;
    box-shadow: 0 0 7px yellow;
    /* animation: bar-anim 1s ease infinite .4s; */
}

.loader2 span:nth-child(6) {
    left: 125px;
    background-color: orange;
    box-shadow: 0 0 7px orange;
    /* animation: bar-anim 1s ease infinite .5s; */
} 

.loader2 span:nth-child(7) {
    left: 150px;
    background-color: red;
    box-shadow: 0 0 7px red;
    /* animation: bar-anim 1s ease infinite .6s; */
} 

.loader2 span:nth-child(8) {
    left: 175px;
    box-shadow: 0 0 7px white;
    /* animation: bar-anim 1s ease infinite .7s; */
} 

/*********** Loader 3 ************/

.loader3 .square::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 100px solid orange;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    /* animation: loader3before 2s ease infinite; */
}

.loader3 .square::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100px solid green;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    /* animation: loader3after 2s ease infinite; */
}

@keyframes loader3 {
    0%, 50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader3before {
    0%, 50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader3after {
    0%, 50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

/*********** Loader 4 ************/

.loader4 .square {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #fff;
    border-top-color: green;
    border-left-color: green;
    animation: loader4 2s ease infinite;
}

@keyframes loader4 {
    50% {
        transform: rotate(360deg);
        border-radius: 0;
        width: 0;
        height: 0;
        border-width: 100px;
    }
}

